.bgimage {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1015%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M1000.36 611.3a74.47 74.47 0 1 0 93.55-115.9z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1556.8 652.07 a12.79 12.79 0 1 0 25.58 0 a12.79 12.79 0 1 0 -25.58 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1332.95 87.87L1347.66 87.87L1347.66 102.58L1332.95 102.58z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M669.05 293.6L765.77 293.6L765.77 299.82L669.05 299.82z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M493.02 842.58a17.99 17.99 0 1 0-11.8 33.99z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1913.96-46.22a81.61 81.61 0 1 0-59.11 152.14z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M926.06-32.39a79.33 79.33 0 1 0 141.09 72.57z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M781.87 836.06L872.86 836.06L872.86 927.05L781.87 927.05z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M292.71 452.7a89.31 89.31 0 1 0 112.45 138.78z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1586.65 304.21a46.57 46.57 0 1 0 92.92 6.46z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M-67.99 816.01 a84.03 84.03 0 1 0 168.06 0 a84.03 84.03 0 1 0 -168.06 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M167.73 767.78a84.44 84.44 0 1 0-22.48 167.37z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1068.74 2.7L1073 2.7L1073 6.96L1068.74 6.96z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M549.86 989.11 a76.93 76.93 0 1 0 153.86 0 a76.93 76.93 0 1 0 -153.86 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1377.26 331.35L1451.88 331.35L1451.88 351.58L1377.26 351.58z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M394.47 794.75 a36.19 36.19 0 1 0 72.38 0 a36.19 36.19 0 1 0 -72.38 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M721.94 471.61L805.96 471.61L805.96 555.63L721.94 555.63z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M712.87 96.71L784.59 96.71L784.59 166.69L712.87 166.69z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1700.47 897.27L1746.35 897.27L1746.35 986.81L1700.47 986.81z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1474.58 991.98a20.07 20.07 0 1 0 36.4-16.94z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M545.82 674.28L593.19 674.28L593.19 731.2L545.82 731.2z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1733.34 448.7L1800.32 448.7L1800.32 491.79L1733.34 491.79z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M704.38 595.7 a32.17 32.17 0 1 0 64.34 0 a32.17 32.17 0 1 0 -64.34 0z' fill='%23e73635'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1015'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.list-style{
    list-style: none;
}

/* .bgc{
    background-color: #0E2A47;
} */

.in{
    display: block;
    text-decoration: none;
    padding: 10px 10px 10px 0px;
}

/* .social{
    display: inline-block;
    padding: 8px;
    color: #fff;
} */

.image{
    position: absolute;
    bottom: 0;
}

.bg-dark {
    --bs-bg-opacity: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
    display: inline-block;

    transition: all 1s;
}

/* fade in image */

.fade-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* scroll action */

.scroller {
padding: 10px;
  height: 1.2em;
  line-height: 1.6em;
  position: relative;
  overflow: hidden;
  width: 20em;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  font-weight: bold;
  
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}
/* ----------------- */

.bar:hover{
    background-color: #fff;
    border-radius: 10px;
    color: #070e17 !important;
}

@media only screen and (min-width: 770px){
    .image{
      width: 300px;
      height: 300px;
      position: absolute;
      bottom: 0;
    }
    .text{
        position: absolute;
        right: 15%;
        top: 35%;
        color: #fff;
    }

    .text span{
        font-family: 'Lobster', cursive;
        display: block;
    }

    .span1{
        font-size: 50px;
    }

    .span2{
        font-size:20px;
    }

    .social, .social svg{
        display: inline;
        color: #fff;
        transition: all 1s;
    }

    .social:hover,.social svg:hover{
        width: 35px;
        height: 35px;
        color: #f30029;
        cursor: pointer;
    }

    .socialdiv{
        padding-top: 20px;
    }
}

@media only screen and (max-width: 1075px) {
    img{
        width: 300px;
        height: 300px;
        position: absolute;
        bottom: 0;
    }

    .text{
        /* position: absolute;
        right: 50%;
        top: 50%; */
        color: #fff;
    }

    .text span{
        font-family: 'Lobster', cursive;
        display: block;
    }

    .span1{
        font-size: 50px;
    }

    .span2{
        font-size:20px;
    }

    .social, .social svg{
        display: inline;
        color: #fff;
        transition: all 1s;
    }

    .social:hover,.social svg:hover{
        width: 35px;
        height: 35px;
        color: #f30029;
        cursor: pointer;
    }



    .socialdiv{
        padding-top: 20px;
    }
}