.bgimage {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M541.59 213.15L583.87 213.15L583.87 217.34L541.59 217.34z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M763.13 455.53 a14.9 14.9 0 1 0 29.8 0 a14.9 14.9 0 1 0 -29.8 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1016.69 190.83L1052.79 190.83L1052.79 241.8L1016.69 241.8z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1362.04 547.35 a21.94 21.94 0 1 0 43.88 0 a21.94 21.94 0 1 0 -43.88 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M260.17 237.21L302.28 237.21L302.28 274.44L260.17 274.44z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1255.35 58.77L1299.17 58.77L1299.17 82.11L1255.35 82.11z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M640.53 442.59L655.99 442.59L655.99 495.5L640.53 495.5z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M888.64 551.57 a50.17 50.17 0 1 0 100.34 0 a50.17 50.17 0 1 0 -100.34 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1423.93 94.2L1456.43 94.2L1456.43 105.6L1423.93 105.6z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M838.16 296.76L843.37 296.76L843.37 337.64L838.16 337.64z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M272.9 65.4a25.39 25.39 0 1 0 4.68-50.57z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M93.17 407.05L143.64 407.05L143.64 457.52L93.17 457.52z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1312.51 384.64 a28.93 28.93 0 1 0 57.86 0 a28.93 28.93 0 1 0 -57.86 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1160.89 382.54L1162.38 382.54L1162.38 409.54L1160.89 409.54z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M27.58 536.73a6.54 6.54 0 1 0-10.98 7.12z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M191.25 212.59 a28.79 28.79 0 1 0 57.58 0 a28.79 28.79 0 1 0 -57.58 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M511.81 481.7 a40.5 40.5 0 1 0 81 0 a40.5 40.5 0 1 0 -81 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1186.3 462.37a44.75 44.75 0 1 0-58.65-67.61z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M648.36 276.74a52.6 52.6 0 1 0 85.49-61.3z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1270.55 165.62 a24.61 24.61 0 1 0 49.22 0 a24.61 24.61 0 1 0 -49.22 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M380.96 374.4 a27.33 27.33 0 1 0 54.66 0 a27.33 27.33 0 1 0 -54.66 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M354.56 6.82 a31.96 31.96 0 1 0 63.92 0 a31.96 31.96 0 1 0 -63.92 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1154.3 395.15L1186.68 395.15L1186.68 429.55L1154.3 429.55z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M695.47 280.86 a12.88 12.88 0 1 0 25.76 0 a12.88 12.88 0 1 0 -25.76 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M310.04 442.18 a26.13 26.13 0 1 0 52.26 0 a26.13 26.13 0 1 0 -52.26 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M460.12 127.23 a16.8 16.8 0 1 0 33.6 0 a16.8 16.8 0 1 0 -33.6 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M72.43 198.01L127.48 198.01L127.48 253.06L72.43 253.06z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M246.27 316.45 a14.96 14.96 0 1 0 29.92 0 a14.96 14.96 0 1 0 -29.92 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1096.31 314.64a42.21 42.21 0 1 0 61.58-57.74z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1018.41 324.94a10.33 10.33 0 1 0 15.96 13.11z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M628.43 275.36L654.94 275.36L654.94 301.87L628.43 301.87z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M156.03 341.27 a53.07 53.07 0 1 0 106.14 0 a53.07 53.07 0 1 0 -106.14 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1180.8 109.13a31.24 31.24 0 1 0-46.78-41.41z' stroke='%23e73635'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.list-style{
    list-style: none;
}

/* .bgc{
    background-color: #0E2A47;
} */

.in{
    display: block;
    text-decoration: none;
    padding: 10px 10px 10px 0px;
}

/* .social{
    display: inline-block;
    padding: 8px;
    color: #fff;
} */

.image{
    position: absolute;
    bottom: 0;
}

.bg-dark {
    --bs-bg-opacity: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
    display: inline-block;

    transition: all 1s;
}

/* fade in image */

.fade-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* scroll action */

.scroller {
padding: 10px;
  height: 1.2em;
  line-height: 1.6em;
  position: relative;
  overflow: hidden;
  width: 20em;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  font-weight: bold;
  
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}
/* ----------------- */

.bar:hover{
    background-color: #fff;
    border-radius: 10px;
    color: #070e17 !important;
}

@media only screen and (min-width: 770px){
    .text{
        position: absolute;
        right: 15%;
        top: 35%;
        color: #fff;
    }

    .text span{
        font-family: 'Lobster', cursive;
        display: block;
    }

    .span1{
        font-size: 50px;
    }

    .span2{
        font-size:20px;
    }

    .social, .social svg{
        display: inline;
        color: #fff;
        transition: all 1s;
    }

    .social:hover,.social svg:hover{
        width: 35px;
        height: 35px;
        color: #f30029;
        cursor: pointer;
    }

    .socialdiv{
        padding-top: 20px;
    }
}

@media only screen and (max-width: 1075px) {
    img{
        display: none;
    }

    .text{
        position: absolute;
        right: 50%;
        top: 50%;
        color: #fff;
    }

    .text span{
        font-family: 'Lobster', cursive;
        display: block;
    }

    .span1{
        font-size: 50px;
    }

    .span2{
        font-size:20px;
    }

    .social, .social svg{
        display: inline;
        color: #fff;
        transition: all 1s;
    }

    .social:hover,.social svg:hover{
        width: 35px;
        height: 35px;
        color: #f30029;
        cursor: pointer;
    }



    .socialdiv{
        padding-top: 20px;
    }
}