.bgimage {
    background-image: url(../img/vecteezy_space-seamless-pattern-stars-moon-planets-galaxy-seamless_4106684.jpg);
}

.bg-dark {
    --bs-bg-opacity: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
    display: inline-block;

    transition: all 1s;
}

.nav-link:focus,
.nav-link:hover {
    background-color: #fff;
    border-radius: 10px;
    color: #070e17 !important;
}

/* slide in text */

.slide1 {
    position: absolute;
    top: 100px;
    left: -50%;
    width: 50%;
    /* height: 100px; */
    background: #094848;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 0.5s;
    animation: slide 0.5s forwards;
    animation-delay: 0.5s;
}
.pro1 {
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
}

.slide2 {
    position: absolute;
    top: 150px;
    left: -50%;
    width: 50%;
    /* height: 100px; */
    background: #094848;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 0.5s;
    animation: slide 0.5s forwards;
    animation-delay: 0.5s;
}
.pro2 {
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
}

.slide3 {
    position: absolute;
    top: 200px;
    left: -50%;
    width: 50%;
    /* height: 100px; */
    background: #094848;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 0.5s;
    animation: slide 0.5s forwards;
    animation-delay: 0.5s;
}
.pro3 {
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
}

.slide4 {
    position: absolute;
    top: 250px;
    left: -50%;
    width: 50%;
    /* height: 100px; */
    background: #094848;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 0.5s;
    animation: slide 0.5s forwards;
    animation-delay: 0.5s;
}
.pro4 {
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
}

.slide5 {
    position: absolute;
    top: 300px;
    left: -50%;
    width: 50%;
    /* height: 100px; */
    background: #094848;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 0.5s;
    animation: slide 0.5s forwards;
    animation-delay: 0.5s;
}
.pro5 {
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
}

@-webkit-keyframes slide {
    100% {
        left: 0;
    }
}

@keyframes slide {
    100% {
        left: 0;
    }
}

@media only screen and (max-width: 770px) {
    .slide1 {
        top: 50%;
    }
}
